@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
/*font-family: 'Hind Siliguri', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/
html, body{
	scroll-behavior: smooth;
	background-color: whitesmoke;
	font-family: 'Poppins',sans-serif;
}



.color-golden{
	color: goldenrod !important;
}


#footer{
	position: relative;
	bottom: 0;
}

.link{
	color: whitesmoke;
}
.link:hover{
	color:darkslategray ;
}