.center {
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.w50{
	width: 50%;
}
.warning{
	background-color: red;
	color: white;
	text-transform: uppercase;
}

/*Estilização*/
h2{
	background-color: aquamarine;
	text-align: center;
}